[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
edsdk-ctypes = {editable = true, path = "."}

[dev-packages]
pytest = ">=8"
ruff = ">=0.6"
mypy = ">=1.10"

[requires]
python_version = "3.12"
